{% extends "organization/edit_base.html" %}
{% set action_url = h.url_for('') %}
{% set cancel_url = h.url_for('') %}
{% set user = c.userobj %}
{% set org = c.group_dict %}
{% set form_info = h.yammer_config(user.id + "." + org.id) or {}%}


{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Yammer Coinfiguration') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}

{% block yammer_configuration %}
{% if organization and h.check_access('organization_update', {'id': c.id}) %}
    <h3>Yammer configuration options </h3>
    <script type="text/javascript" data-app-id="0G229UnVdvDo85oMSxBQ" src="https://c64.assets-yammer.com/assets/platform_js_sdk.js"></script>

    <span id="yammer-login"></span>
    <script>
    var form
    //add the yammer login button to the manage orgs page
    yam.connect.loginButton('#yammer-login', function (resp) {
        if (resp.authResponse) {
            document.getElementById('yammer-login').innerHTML = 'You are authenticated to Yammer!';
            document.getElementById('field-ckanext.yammer.token').value = resp.access_token.token;



        }
        else {
            authResponse = false if the user is not logged in, or is logged in but hasn't authorized your app yet
            alert("You are not logged into yammer and we cannot get an access token for Organization posting to " +
                "Yammer groups. If there is not one in the Yammer token file you must re-authenticate to get a new one and save");
        }
    });

    yam.getLoginStatus(
        function (response) {
            if (response.authResponse) {
                //console.log("logged in");
                yam.platform.request({
                    url: "users/current.json",
                    method: "GET",
                    data: {
                        "include_group_memberships": "true"

                    },
                    success: function (user) { //print message response information to the console
                        select = document.getElementById('field-ckanext.yammer.groups')
                        for (grp in user.group_memberships){
                            var opt = document.createElement('option');
                            opt.value =user.group_memberships[grp].id;
                            opt.id = user.group_memberships[grp].id;
                            opt.innerHTML = user.group_memberships[grp].name;
                            select.appendChild(opt)
                            }
                      // console.dir(user);
                {% if form_info != 'failure' %}
                    formFill()
                {%  endif %}
                    },
                    error: function (user) {
                        alert("There was an error with the request.");
                    }
                })
            }
            else {
                alert("not logged into Yammer")
            }
        }
    );
    function formFill(){
        form = {{ form_info|safe }}
        document.getElementById('create_dataset').checked=form.create_dataset;
        document.getElementById('update_dataset').checked=form.update_dataset;
        document.getElementById('delete_dataset').checked=form.delete_dataset;
        document.getElementById(form.groups["0"]).selected="selected";
        console.log(form);
    }
    </script>
<form class="form-vertical" method="post" action="{{ action_url }}" data-module="basic-form">

    {{ form.input('ckanext.yammer.token', id='field-ckanext.yammer.token', label=_('Yammer Token'), is_required=true )}}
   <div class="control-group control-select">
    <label class="control-label" for="field-ckanext.yammer.groups">
           <span title="At least one group Must be selected" class="control-required">*</span>

        Yammer Groups</label>
    <div class="controls ">
    <select id="field-ckanext.yammer.groups" name="ygroups">
    </select>
    </div>
  </div>

    <label class="control-label" for="field-ckanext.yammer.actions">Actions</label>
    {{ form.checkbox('Create', value=True, checked=false, id='create_dataset') }}
    {{ form.checkbox('Update', value=True, checked=false, id='update_dataset') }}
    {{ form.checkbox('Delete', value=True, checked=false, id='delete_dataset') }}
    <div class="form-actions">

        <a class="btn pull-left" href="{{ cancel_url }}">{{ _('Cancel') }}</a>
        <button class="btn btn-primary" name="save" value="save" type="submit">{{ _('Update Config') }}</button>
    </div>
  {{ form.hidden('organization', org.id) }}
      {{ form.hidden('user_name', user.name) }}
      {{ form.hidden('user_id', user.id) }}

</form>
{% else %}

<p>You are not Authorized to update this content</p>

{%  endif %}
    {% endblock %}

{% endblock %}

